body {
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden; /* Prevent scrolling */
}
.no-margin {
    margin: 0 !important; /* Remove margins */
}
.move-up {
    margin-top: -100px; /* Move up by 30px */
}
.title {
    color: #009999; /* New color */
    font-weight: bold; /* Bold text */
    font-size: 4em; /* Larger font size */
}

.btn-show {
    background-color: #009999 !important;
    color: white !important; /* This is for the text color, adjust as needed */
    border: none !important; /* Remove this line if you want the default button border */
}

.btn-primary {
    background-color: #009999; /* New color */
    border-color: #009999; /* New color */
    color: #fff; /* White text */
}
.error-message {
  color: red;
  height: 20px;
}
a {
    color: #009999; /* New color */
}
.custom-container {
  height: 80vh; /* adjust this value to move the form up or down */
}

.form-container {
    min-height: calc(100vh - 60px); /* Replace 60px with the height of your header */
    overflow: auto; /* Add vertical scrollbar when necessary */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the start */
  }
  
  .row {
    width: 100%;
    margin: 0;
  }

  .header {
    background-color: #f8f9fa; /* Change this to your preferred color */
  }
  
  .title {
    color: #009999; /* Change this to your preferred color */
    font-size: 4rem; /* Adjust size as needed */
  }