.App {
  text-align: center;
}

b {
  font-size: 24px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
td{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

img { 
  width: 10%;
  height: 10%;
  margin-left: 10px;
}
.navbar{
  background-color: white;
}

#navbarNav{
  margin-right: 10px;
  justify-content: right;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
