.App {
  text-align: center;
}

b {
  font-size: 24px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
td{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

img { 
  width: 10%;
  height: 10%;
  margin-left: 10px;
}
.navbar{
  background-color: white;
}

#navbarNav{
  margin-right: 10px;
  justify-content: right;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Roboto', sans-serif;
background-color: #009999;}
.no-margin {
  margin: 0 !important; /* Remove margins */
}
.move-up {
  margin-top: -100px; /* Move up by 30px */
}
.title {
  color: #009999; /* New color */
  font-weight: bold; /* Bold text */
  font-size: 4em; /* Larger font size */
}

.btn-show {
  background-color: #009999 !important;
  color: white !important; /* This is for the text color, adjust as needed */
  border: none !important; /* Remove this line if you want the default button border */
}

.btn-primary {
  background-color: #009999; /* New color */
  border-color: #009999; /* New color */
  color: #fff; /* White text */
}
.error-message {
color: red;
height: 20px;
}
a {
  color: #009999; /* New color */
}


.header-log {
  background-color: #f8f9fa; /* Change this to your preferred color */
}

.title {
  color: #009999; /* Change this to your preferred color */
  font-size: 3rem; /* Adjust size as needed */
}

.container-page {
  min-height: 600px;
}

.recov-form {
  max-width: 50%;
  margin: 0 auto;
}

.signup_form {
  padding-top: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
